<footer>
    <hr>
    <div class="container d-flex flex-column justify-content-center  footer">
        <div class="developed-by">
            <h4>Developers:</h4>
            <ul>
                <li>Anish Shilpakar - KCE075BCT008</li>
                <li>Anjaan Khadka - KCE075BCT009</li>
                <li>Sachin Manandhar - KCE075BCT035</li>
                <li>Sudip Shrestha - KCE075BCT046</li>
            </ul>
        </div>
        &copy; Minor Project - <script>document.write(new Date().getFullYear())</script>
    </div>
</footer>

<!--JS related to Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

