<div class="mt-5">
<h3 class="title"> Last 10 Records:</h3>
<table class="table table-striped table-hover table-bordered ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Number Plate</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Entry Date</th>
        </tr>
    </thead>
    <tbody>
        {% for number_plate in number_plates %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{number_plate.number}}</td>
            <td>{{number_plate.vehicle_type}}</td>
            <td>{{number_plate.entrydate}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>