{% extends 'base.html' %}

{% block content %}
<div class="container-fluid upload-form">
    {% if title == 'IMAGE' %}
    <form  class="bg-white p-5 rounded" method = "post" action="{% url 'upload_image' %}" enctype="multipart/form-data">
    {% else %}
    <form  class="bg-white p-5 rounded" method = "post" action="{% url 'upload_video' %}" enctype="multipart/form-data"> 
    {% endif %}
    {% csrf_token %}
    <label for="exampleFormControlFile1" class="form-title">Select {{ title  }} </label>
    {{ form.as_p }}
    <button type="submit" class="btn btn-success btn-block text-center mt-3 make-capital">Upload {{ title }} </button>
</form>
<p class="text-lg text-warning text-upper text-center">Please Wait as processing may take some time</p>
</div>
{% endblock  %}